.blue-indicator {
  position: absolute;
  top: 387px;
  left: 680px;
  opacity: 0.2;
  transition: opacity 1s ease-in-out;

  &.active {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.6;
  }
}

.blue-glow {
  background-color: #41d1ff;
  width: 100px;
  aspect-ratio: 2;
  position: absolute;
  top: 415px;
  left: 655px;
  z-index: -1;
  filter: blur(40px);
  opacity: 0;
  transition: opacity 3s ease-out;
  will-change: opacity;
  display: none;

  @media (min-width: 768px) {
    display: block;
    filter: blur(60px);
  }

  &.active {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
  }
}
